/* .reveal .footer {
  text-align: left !important;
  padding-left: 80px !important;
  margin-left: 0 !important;
}

.reveal .slide .footer {
  text-align: left !important;
  padding-left: 80px !important;
} */
